@model IEnumerable<CRUDANGGOTA.Models.Anggota>

@{
    ViewData["Title"] = "Index";
}

<h1>Anggota</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jabatan)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Add Anggota</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jabatan)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.AnggotaID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AnggotaID" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
